In [1]:
import pandas as pd

from sklearn.model_selection import train_test_split
from sklearn import neighbors
from sklearn import tree
from sklearn import svm

import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
df = pd.read_csv('answers.csv')
df.head()

,E1,E2,E3,E4,E5,E6,E7,E8,E9,E10,...,O1,O2,O3,O4,O5,O6,O7,O8,O9,O10
0,4.0,4.0,5.0,4.0,5.0,5.0,4.0,3.0,5.0,5.0,...,4.0,5.0,3.0,5.0,5.0,5.0,4.0,2.0,5.0,5.0
1,2.0,4.0,3.0,3.0,3.0,3.0,1.0,1.0,1.0,1.0,...,3.0,3.0,3.0,3.0,2.0,3.0,3.0,1.0,3.0,2.0
2,5.0,5.0,1.0,2.0,5.0,5.0,1.0,1.0,5.0,5.0,...,4.0,1.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0
3,2.0,1.0,2.0,2.0,3.0,2.0,3.0,2.0,4.0,1.0,...,4.0,3.0,5.0,4.0,4.0,4.0,5.0,2.0,5.0,5.0
4,3.0,5.0,3.0,3.0,3.0,5.0,3.0,5.0,3.0,1.0,...,3.0,5.0,1.0,5.0,3.0,5.0,3.0,1.0,5.0,3.0